<section class="articles__wrapper">
    <article class="articles__container">
        <% for (const { _id, index, title, content, categories } of articles) { %> 
                    
            <a class="article__item" id="<%= index %>" href="/user/article/<%= _id %>">
                <div class="article__title">
                    <span class="article__title--overline">
                        <h3><%= title %></h3>
                    </span>
                    <h3 class="article__title--no-overline"><%= title %></h3>
    
                </div>
                <div class="article__excerpt"><%= content %></div>
                <ul class="article__categories">

                    <% for (const category of categories ) { %> 
                        <li class="categories__item category" id="category-<%= category._id %>"><%= category.name %></li>
                    <% } %>
    
                </ul>
            </a>
        
        <% } %>
    </article>
    
    <article class="articles__show-all-container">
        <a id="articles__show-all" class="button button--accent" href="/app/articles">Voir tous les articles</a>
    </article>

</article>